.container{
    width: 900px;
    height: fit-content;
    border: 1px solid whitesmoke;
    color: white;
    gap: 10px;
}
.Title{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: 1px solid rgb(29, 29, 29);
    background-color: purple;
    font-weight: 700;
    text-shadow: 1px 0px 0px white;
    padding: 10px 5px;
}
.container2{
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid white;
    border-right: 3px solid grey;
}
.container3{
    margin-top: -0.6px;
    border: 1px solid  rgb(30, 99, 190);;
    display: flex;
    height: 680px;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    background-color: rgb(30, 99, 190);
}
ul{
    margin-top: -15px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.container4{
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}
.item{
    margin: 30px 0px 0px 25px;
    width: 200px;
    height: 300px;
    border: 1px solid rgb(250, 242, 242);
    box-shadow: 5px 15px 9px rgba(207, 203, 203, 0.2);
}
.Footer{
    border: 1px solid lightgrey;
    background-color: lightgrey;
    padding: 7px;
    color: purple;
    text-align: center;
}