 *{
    padding: 0;
    margin: 0;
}
h1{
    font-family: sans-serif;
    font-size: 2rem;
  text-shadow: 1px 1px 1px rgb(26, 6, 6);

    color: rgb(117, 105, 185);
    margin-left: 10px;
    padding: 20px;
}
.nav-list{
    display: flex;
    margin: 20px;
    border: 2px solid salmon;
    gap: 0px;
    flex-direction: column;
}
.nav-list li{
    width: min-content;
    list-style: none;
    background-color: white;
    border-width: 5px;
    border: 5px solid green;
}