.container {
    width: calc(90% + 10px);
    height: fit-content;
    border: 1px solid grey;
}
ul{
    list-style: none;
}
.center img{
    width: 500px;
    height: auto;
    align-self: center;
    align-items: center;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    margin-left: -30px;
    display: flex;
    gap: 10px;
    color: grey;
    font-size: 12px;
    font-weight: 500;
}
.upperRight{
    margin-right: 10px;
}
.center div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-field{
    border: 2px solid rgb(235, 234, 228);
    margin: 10px 30%;
    border-radius: 30px;
    padding: 10px 2px;
}
.buttons{
    margin-top: -200px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 20px;
}
.yes{
    border: 2px solid rgb(241, 239, 239);
    border-radius: 7px;
    font-weight: 200;
    font-size: 13px;
    padding: 3px;
    box-shadow: 0px 1px 1px lightslategrey;
}
.lower{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border: 2px solid  rgb(236, 234, 234);
    background-color: rgb(236, 234, 234);
}
.lowerLeft{
    padding: 1px;
    margin-left:calc(-40% + 10px);
}
.lowerRight{
    padding: 1px;
    margin-right: calc(-40% + 10px);
}