*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container{
    width: 700px;
    height: 360px;
    border-top: 1px solid grey;
}
h2{
    margin: 10px 300px;
    font-family:serif;
    font-weight: 500;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.3);
    font-style:normal;
}
.container2
{
   
    display: flex;

}
img{
    width: 60px;
    height: 60px;
    margin: 10px;
}