*{
    margin: 0;
    padding: 0;
}
body,html{
    display: flex;
    width: 1920px;
    height: 1000px;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.container1{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    color: rgb(17, 125, 226);
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px rgb(17, 125, 226,0.2);
}
.container2{
    background-color:rgba(14, 14, 32, 0.904);
    color: white;
    
}
.brev{
    display: flex;
    flex-direction: column;
    margin: 2px 10px;
    justify-content: space-around;
    color: white;
     font-family: sans-serif;
}
.Roboto{
     font-size: 25px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.font-used{
     
    font-size: 1.1rem;
}
.d{
     
}
.F2937{
     
    font-weight: 700;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.hero{
    font-family: sans-serif;
      
     margin-bottom: -5px;
}
.px{
      
     font-size: 48px;
     font-weight: 900;
}
.logo{
    margin-bottom: 1px;
     
}
.px18{
     
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.px24{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.container3{
    margin: 10px;
    font-family: sans-serif;
}
.b{
    margin-bottom: 3px;
}
.c a{
    text-decoration: none;
    color: rgb(81, 137, 223);
    font-weight: 1000;
    font-size: 20px;
}
.c{
     margin-bottom: 20px;
}
.px36{
    margin-top: 10px;
    font-size: 36px;
    font-weight: 900;
}
.container4{
    flex: 1;
    background-color: lightgray;
    font-family: sans-serif;
}
.poem{
    margin: 10px 10px;
}
.E5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.end{
    font-size: 36px;
    font-weight: 300;
}