html,body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px;
    background-color: white;
    margin: -50px 0px -290px 350px;
    align-items: center;
    justify-content: center;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    width: 100%;
    color: rgba(245, 245, 245, 0.973);
    background-color: rgb(23, 43, 58);
    font-family: sans-serif;
}
.brev{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
}
.left ul li{
    margin-left: -90px;
}
.right ul{
  display: flex;
  gap: 10px;
  margin-left: 380px;
}
li{
    list-style: none;
    
}
.head{
    margin-top: -35px;
    display: flex;
    font-size: smaller;
    gap: 70px;
}
h1,p{
    margin-left: -70px;
}
.button{
    margin-top: -50px;
}
.container2{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.row ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
h2{
    margin-top: -30px;
}
row1{
    
}
.t{
    border: 3px solid rgba(11, 66, 245, 0.712);
    background-color: white;
    padding: 20px 40px 45px 30px;
    border-radius: 10px;
    color: white;
    position: relative;
}
.t::after{
    position: absolute;
    margin-top: 70px;
    left: 0;
    padding: 0px -2px;
    content : "this is some subtext under an illustration or image";
    color: black;
    font-size: 10px;
    color: grey;
    font-family: 'Roboto';
    text-shadow: 0px 0px px rgb(0, 0, 0);
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
    color: rgb(37, 31, 31);
}
.bro{
    margin-left: 150px;
    font-family: sans-serif;
    margin-top: 80px;
    font-size: 22px;
    font-weight: 100;
}
.thor{
    margin-left: 490px;
    margin-top: -25px;
}
.container4{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 30px;
}
.blue{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 660px;
    margin: 40px 0px 60px 60px;
    background-color: rgba(0, 102, 255, 0.781);
    border: 1px solid  rgba(0, 102, 255, 0.781);
    border-radius:5px;
    font-size: 15px;
    color: white;
    height: 100%;

}
h3{
    margin-bottom: -10px;
}
#bravo{
    display: flex;
    align-self: flex-start;
    margin-top: -35px;
    margin-left: 570px;
    margin-right: -20px;
    margin-bottom: -100px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    text-align: center;
    background-color: rgb(0, 102, 255 ,0.181);
}
.container5{
    margin-top: -60px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(23, 43, 58);
    color: white;
}
.hi{
    padding-bottom: 10px;
}