.container{
    width: fit-content;
    height: fit-content;
    border: 3px solid green;
    padding: 1em;
    background-color: rgb(194, 245, 194);
    box-shadow: 0.5px 1px 2px black;
}
.container1,.container3{
    display: flex;
       width: 600px;
       flex: 1;
    margin-bottom: 1em;
    border: 4px solid blue;
    padding: 1em;
    gap: 10px;
    background-color: rgb(111, 188, 236);
}
.item.i1,.item.i21,.item.i22,
.item.i3,.container31
{
    width: 150px;
    height: 34px;
    border: 4px solid salmon;
    background-color: peachpuff;
    flex: 1;
    padding: 0.5em;
}
.container21, .container31{
    display: flex;
    justify-content: center;
    width: 150px;
    flex: 1;
    border: 4px solid salmon;
    background-color: peachpuff;
    
}
.container21 .item.i21, .container21 .item.i22{
    width: 85px;
    height: 20px;
    align-self: center;
    border: 4px solid red;
    background-color: rgb(250, 184, 207);
}
.container .containerx{
    display: flex;
    flex: 1;
    gap: 5px;
    width: 600px;
}
.containerx .x{
    display: block;
    gap: 10px;
    min-width: 300px;
    flex: 0.5;
}
.i4{
    flex: 1;
    border:2px solid chocolate;
    background-color: rgb(252, 200, 193);
    width: 300px;
    height: 200px;
    border: 4px solid brown;
    margin-bottom: 10px;

}
.x div{
    flex: 1;
    gap: 10px;
    width: 330px;
    height: 91px;
    border:2px solid chocolate;
    background-color: rgb(252, 200, 193);
    border: 4px solid brown;
    margin-bottom: 10px;

}
.i33{
    flex-grow: 1;
    background-color: rgb(178, 156, 214);
    border: 4px solid rgb(77, 45, 114);
}
.container31 div{
    display: flex;
    gap: 5px;
    margin: 2px;
}

