*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(230, 227, 227);
}
.container1{
   display: flex;
    justify-content: space-around;
    background-color: white;
}
ul{
  margin-left: -650px;
  display: flex;
  gap: 10px;
  list-style: none;
  margin-bottom: 15px;
}
ul.right{
  margin-right: -650px;
}
a{
  text-decoration: none;
  font-size: 1em;
  color: rgb(117, 37, 173);
}
.logo a{
  font-weight: 1000;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 2em;
  text-shadow: 1px 0px 2px black;
}
li{
  margin-top: 30px;
  margin-left: 5px;
}
.logo{
  margin-top: 20px;
}
.notification a{
  border: 2px solid rgb(117, 37, 173);
  border-radius: 8px;
  background-color: rgb(88, 35, 126);
  color: white;
  padding: 4px;
  font-family: sans-serif;
  font-size: 12px;
  text-shadow: 0 0 3px rgba(0,0,0,0.3),
}
.profile a{
  margin-top: -13px;
  display: flex;
  border: 2px solid indigo;
  border-radius: 60%;
  width: 38px;
  height: 40px;
  align-items: center;
  padding: 3px;
  background-color: rgb(79, 34, 121);
}