*{
    padding: 0;
    margin: 0;
    width: 800px;
    height: 400px;
}
.container{
    border: 5px solid indigo;
    background-color: violet;
  /*  padding: 1em;
    padding-top: 2em;
*/}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: first baseline;
}
.A1{
    border: 5px solid green;
    padding: 2rem;
    background-color: rgb(102, 179, 179);
    width:40px;
    height: 10px;

}