*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height:100%;
    display: flex;
    background-color: rgb(151, 150, 150);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.pop-up{
    font-size: 16;
     display: flex;
    width: 500px;
    height: 180px;
    background-color: white;
   
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    margin-left: 5px;

}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.x{
    margin-top: -10px;
    margin-left: 100px;
    display: block;
    width: 5%;
    height: 5%;
    flex-shrink: 2;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    color:  rgba(124, 124, 124, 0.836);
    font-weight: 900;
    background-color: rgb(226, 226, 226);
    font-family: 'Helvetica', sans-serif;
}
.q{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-left: 100px;
    padding: 6px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(237, 237, 255);
    margin-left: -15px;
    color: rgb(104, 104, 233);
    font-size: 30px;
    font-weight: 500;
    border: 1px solid  rgb(237, 237, 255);
    border-radius: 50%;
}
.title{
    font-weight: 700;
    font-size: 1.2em;
    font-family: sans-serif;
}
.buttons{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    gap: 5px;
}
button{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 1.9em;
    font-family: sans-serif;
}
.continue{
    background-color: rgb(73, 118, 241);
    color: white;
    
}
.cancel{
    background-color: white;
    border: 1px solid rgb(218, 214, 214);
    color: blue;
    font-size: 16px;
}